main {
  background:  url('../img/your_verse_hero.jpg') 50% 100% no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 0;
}

nav {
  display: flex;
  width: 845px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background: #5e5e5e;
  background: -webkit-linear-gradient(#888, #5e5e5e);
  background:      -o-linear-gradient(#888, #5e5e5e);
  background:         linear-gradient(#888, #5e5e5e);
}

.nav-item{
padding: 10px 15px;
}
