main {
  background:  url('../img/your_verse_hero.jpg') 50% 100% no-repeat;
  padding: 15px 0;
}

nav {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background: #5e5e5e;
  background: -webkit-linear-gradient(#8b8b8b, #717171 50%, #5e5e5e 50%, #787878);
  background:      -o-linear-gradient(#8b8b8b, #717171 50%, #5e5e5e 50%, #787878);
  background:         linear-gradient(#8b8b8b, #717171 50%, #5e5e5e 50%, #787878);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-top-color: #7b7b7b;
  border-bottom-color: #565656;
  border-right-color: #565656;
  border-left-color: #818181;
}

.nav-item{
padding: 10px 15px;
}

.nav-item a{
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    letter-spacing: .5px;
    line-height: 18px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    text-shadow: 0px -1px .5px #000 ,0px 1px .5px #444;

}

main h1, .main-text, .help-text{
  max-width: 845px;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 100;
  text-align: center;
}

main h1 {
  margin: 75px auto 0;
  font-size: 56px;
}

.main-text {
  margin: 20px auto 0;
  font-size: 30px;
}

.help-text {
  margin: 35px auto 150px;
}

.help-text a {
  text-decoration: none;
  font-size: 26px;
  color: inherit;
}

.products {
  display: flex;
  width: 1440px;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}
